@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Oswald:200,300,400,500,600,700');

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1.15em;
}

/*----- Common Styles -----*/
.breadcrumb {
position: absolute;
top: 93%;
left: 50%;
transform: translate(-50%, -50%);
background-color:rgba(255,255,255,0.1);
border-radius: 0;
width: 60%;
}

.breadcrumb-item a {
  color:#ffffff;
}

.breadcrumb-item.active {
  color:#fff;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

.img-container{
  position:relative;
  display:inline-block;
}
.img-container .overlay{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(57,47,35,0.7);
  opacity:0;
  transition:opacity 500ms ease-in-out;
}
.img-container:hover .overlay{
  opacity:1;
}
.overlay span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  color:#fff;
  font-weight: 600;
}

.teal-h4 {
  color: #7ab5a7;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 1.4rem;
  margin: 20px auto;
}

/*----- Style for Homepage Full Slider -----*/
.carousel-item {
  height: 85vh;
  min-height: 300px;
}

.carousel-item img {
  height: 85vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item .img-fluid {
  width:100%;
}

.carousel-item a {
  display: block;
  width:100%;
}

.carousel-caption h3 {
  font-size:3em;
}

/*-----Styles for Homepage-----*/
.homepage-about-section {
  background-color: transparent;
  padding:20px;
  text-align:center;
}

.homepage-about-section h1, .homepage-classes-section h1, .about-gallery h1, .contact-page h1, .workshop-page h1 {
  font-size: 2.2rem;
  text-align: center;
  padding: 20px 0;
  font-family: 'Oswald';
  font-weight: 500;
  text-transform: uppercase;
  color:#392f23;
}

.classes-box img {
  width:100%;
}

.classes-box h3 {
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.classes-box a {
  color:#212529;
}

.newsletter-signup-section {
  background:url(../images/newsletter-bgrd-image.png) #7ab5a7 repeat center center;
  padding-top:40px;
  padding-bottom:40px;
}
.newsletter-signup-section h2 {
  font-family: 'Oswald', sans serif;
  color: #ffffff;
  text-transform: uppercase;
}

.newsletter-signup-section p {
  color: #ffffff;
}

#mc_embed_signup .button {
  background-color: #99b8d1 !important;
  text-transform:uppercase;
}

/*------Style for Navigation-----*/
.homepage-nav {
  background:rgba(57,47,35,0.9)
}

.nav-link {
  font-family:'Oswald', sans-serif;
  font-size:18px;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link {
  color:#ffffff;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color:#7ab5a7;
}

.nav-active {
  color:#7ab5a7;
}

.navbar-light .navbar-toggler {
  color: rgba(255,255,255,0.9);
  border-color: rgba(255,255,255,0.9);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

#navbardrop {
  padding-top: 16px;
}

.dropdown-item {
  font-family:'Oswald', sans-serif;
  font-weight: 300;
  color:#392f23;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #392f23;
  text-decoration: none;
  background-color: rgba(153,184,209,0.3);
}

.facebook-nav-link i {
    width:32px;
    height:32px;
    padding:13px 0;
    border-radius:50%;
    font-size:16px;
    line-height:7px;
    text-align:center;
    color:#ffffff;
    border:1px solid #ffffff;
    background-color:transparent;
    transition:all 0.5 ease-in-out;
    -moz-transition:all 0.5 ease-in-out;
    -webkit-transition:all 0.5 ease-in-out;
    -o-transition:all 0.5 ease-in-out;    
}

.facebook-nav-link i:hover {
    background-color:#7ab5a7;
}

/*-----About Page Styles-----*/
.about-header-container {
    height: 70vh;
    background: url('../images/about-header-image.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}
/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: #ffffff;
    font-weight: bold;
    font-family:'Oswald', sans-serif;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75em;
}

.gal {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	}	
.gal img{ width: 100%; padding: 7px 0;}


/*----- What Do I Need Styles -----*/
.what-do-i-need-header-container {
    height: 70vh;
    background: url('../images/what-do-i-need-header-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}

.card-header {
  background-color: rgba(153,184,209,.3);
}

.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f067"; 
}

.card-body:last-of-type {
  border-bottom:1px solid rgba(0,0,0,.125);
}
/*----- Reformer Bed Styles -----*/
.reformer-bed-header-container{
    height: 70vh;
    background: url('../images/reformer-bed-header-image.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}

/*----- Yogalates Styles -----*/
.yogalates-header-container{
    height: 70vh;
    background: url('../images/yogalates-heaader-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}

/*----- Total Barre Styles -----*/
.total-barre-header-container{
    height: 70vh;
    background: url('../images/total-barre-header-image.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}

/*----- Hot Yoga Styles -----*/
.hot-yoga-header-container{
    height: 70vh;
    background: url('../images/hot-yoga-header-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}
/*----- Pregnancy Yoga Styles -----*/
.pregnancy-yoga-header-container{
    height: 70vh;
    background: url('../images/pregnancy-yoga-header-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}

/*----- Pregnancy Yoga Styles -----*/
.meditation-header-container {
    height: 70vh;
    background: url('../images/meditation-header-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}

/*----- Timetable Styles -----*/
.timetable-header-container {
    height: 70vh;
    background: url('../images/timetable-header-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}
.timetable-fusion {
  background:rgb(65, 57, 91);
  color:#fff;
}

.timetable-pilates {
  background-color:rgb(127, 75, 142);
  color:#fff;
}

.timetable-pregnancy {
  background-color:rgb(154, 184, 209);
  color:#fff;
}

.timetable-yogalates {
  background-color:rgb(105, 156, 144);
  color:#fff;
}

.timetable-barre {
  background-color:rgb(35, 50, 57);
  color:#fff;
}
.timetable-heated {
  background-color:rgb(57, 47, 35);
  color:#fff;
}
.timetable-meditation {
  background-color:rgb(39, 76, 119);
  color:#fff;
}

.timetable-blank {
  background-color:#efefef;
}

.timetable-time {
  font-weight: 600;
  margin-bottom: 0.1rem;
  margin-top: 1rem;
  font-size: 0.9em;
}

.timetable-name {
  font-weight:600;
}

.timetable-level {
  margin-bottom: 0;
  margin-top: 1rem;
}

/*----- Workshop Styles -----*/
.workshop-header-container {
    height: 70vh;
    background: url('../images/workshops-header-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}

/*----- Contact Us Styles -----*/
.contact-header-container {
    height: 70vh;
    background: url('../images/contact-header-image.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}

/*----- Privacy Policy Styles -----*/
.privacy-policy-header-container {
    height: 70vh;
    background: url('../images/privacy-policy-header-image.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom:30px;
}
.privacy-policy-style h5{ 
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/*-----Footer-----*/
footer {
    background:rgba(57,47,35,0.9);
    color:#fafafa;
    min-height: 120px;
    margin:0;
}

.footer-space {
    padding-top: 4.0625rem;
    padding-bottom: 4.0625rem;
}

.footer-space h2 {
  font-size: 2.2rem;
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Oswald';
  font-weight: 500;
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
}

.footer-box {
  border-top:solid 3px #7ab5a7;
  border-bottom:solid 3px #7ab5a7;
}

.footer-box h4 {
  font-size: 1.2rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;  
  padding-top: 20px;
}

.footer-box .fa-mobile {
  font-size:48px;
}

.footer-box .fa-envelope-open-o {
  font-size:32px;
}

.footer-box .fa-map-pin {
   font-size:32px;
}

.footer-box a {
  color:#ffffff;
}

.footer-box p {
  color: #99b8d1;
  font-weight: 700;
  font-size:14px;
}

.footer-box p a {
  color: #99b8d1;
}


.footer-copyright {
  padding-top:4rem;
  text-align:center;
}

.footer-copyright a {
color:#ffffff;
}

.btn-outline-info {
  color:#7ab5a7;
  border-color: #7ab5a7;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #7ab5a7;
    border-color: #7ab5a7;
}



/*-----Mobile and Tablet Styles-----*/

@media (min-width: 992px ) {
.about-header-container, .reformer-bed-header-container,.what-do-i-need-header-container, 
.yogalates-header-container, .total-barre-header-container, .hot-yoga-header-container,
.pregnancy-yoga-header-container, .meditation-header-container, .timetable-header-container, 
.workshop-header-container, .contact-header-container, .privacy-policy-header-container{
  height: 45vh;
}
.breadcrumb {
  top:85%;
  width:inherit;
}
.jumbotron h1 {
  font-size:2.25em;
}
.homepage-about-section {
  background-color: #efefef;
}
}

@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

@media (max-width: 576px) {
.gal {
	-webkit-column-count: 1; /* Chrome, Safari, Opera */
  -moz-column-count: 1; /* Firefox */
  column-count: 1;
}  
.footer-box {padding-bottom:10px;}
.footer-box:nth-child(1), .footer-box:nth-child(2) {
  border-bottom:none;  
}
}

@media all and (max-width: @breakpoint) { 
  .hiddenSmall {display: none; }
}